<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="styles.css" rel="stylesheet">
        <title>Project</title>
    </head>
        <body>
            <h1 align="center">Welcome to the NBA All-Division Fantasy Draft!</h1>
            <br><br>
            <h2 align="center">
                Your task: create a championship-worthy NBA team with players from one division.
            </h2>
            <br><br>
            <h2 align="center">
                Ready to get started? Pick a division below.
            </h2>
            <br>
            <table align="center" class="table">
                <tr align="center">
                    <th colspan="6">Eastern Conference</th>
                </tr>
                <tr align="center">
                    <td><a href="/atlanticsim">Atlantic Division</a></td>
                    <td>Boston Celtics</td>
                    <td>Brooklyn Nets</td>
                    <td>New York Knicks</td>
                    <td>Philadelphia 76ers</td>
                    <td>Toronto Raptors</td>
                </tr>
                <tr align="center">
                    <td><a href="/centralsim">Central Division</a></td>
                    <td>Chicago Bulls</td>
                    <td>Cleveland Cavaliers</td>
                    <td>Detroit Pistons</td>
                    <td>Indiana Pacers</td>
                    <td>Milwaukee Bucks</td>
                </tr>
                <tr align="center">
                    <td><a href="/southeastsim">Southeast Division</a></td>
                    <td>Atlanta Hawks</td>
                    <td>Charlotte Hornets</td>
                    <td>Miami Heat</td>
                    <td>Orlando Magic</td>
                    <td>Washington Wizards</td>
                </tr>
            </table>
            <br>
            <br>
            <table align="center" text-align="center" class="table">
                <tr align="center">
                    <th colspan="6">Western Conference</th>
                </tr>
                <tr align="center">
                    <td><a href="/northwestsim">Northwest Division</a></td>
                    <td>Denver Nuggets</td>
                    <td>Minnesota Timberwolves</td>
                    <td>Oklahoma City Thunder</td>
                    <td>Portland Trail Blazers</td>
                    <td>Utah Jazz</td>
                </tr>
                <tr align="center">
                    <td><a href="/pacificsim">Pacific Division</a></td>
                    <td>Golden State Warriors</td>
                    <td>Los Angeles Clippers</td>
                    <td>Los Angeles Lakers</td>
                    <td>Phoenix Suns</td>
                    <td>Sacramento Kings</td>
                </tr>
                <tr align="center">
                    <td><a href="/southwestsim">Southwest Division</a></td>
                    <td>Dallas Mavericks</td>
                    <td>Houston Rockets</td>
                    <td>Memphis Grizzlies</td>
                    <td>New Orleans Pelicans</td>
                    <td>San Antonio Spurs</td>
                </tr>
            </table>
        </body>
</html>